/*colors
lightgrey : #e6e7e8
midnight: #102e50
pink: #ee5e8f
*/

/*-------------------HTML elements----------*/

html, body {
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

/*-------------------To Do List and Items elements----------*/

.listBox{
  margin-left: 15%;
}

.listItem{
  font-size: 20px;
  height: 25px;
  float: left;
  width: 70%;
  margin-bottom: 3px;
  border: grey solid 1px;
  border-radius: 5px;
  background-color: #e6e7e8;
}


.deletebtn{
  margin-left: 10px;
  margin-bottom: 3px;
  width: 70px;
  height: 27px;
  border-radius: 2px;
  border: none;
  background-color: #102e50;
  color: white;
  font-size: 17px;
}

/*------------------- Top Nav Elements----------*/

.titleBox{
  margin-left: 2%;
  margin-top: 8px;
  float: left;
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: serif;
}

/*------------------- Adding to do Elements----------*/

.formBox{
  margin-left: 15%;
}

.inputBox{
  height: 35px;
  margin-top: 10px;
  border: white solid 1px;
  width: 20%;
  border-radius: 5px;
  background-color: #e6e7e8;
  font-size: 20px;
}

.submitBtn{
  margin-left: 2%;
  height: 35px;
  border-radius: 5px;
  border: white solid 1px;
  background-color: #ee5e8f;
  font-size: 20px;
}

.addToDoBox{
  top: 0;
  background-color: #102e50;
  width: 100%;
  height: 70px;
  padding-top: 10px;
}

.loginBox{
  float: left;
  margin-left:40px;
  margin-right: 40px;
}

/*------------------- Filtering Elements----------*/

.filterBox{
  height: 35px;
  padding-top: 15px;
  padding-left: 2%;
  border-radius: 2px;
  background-color: #102e50;
  color: lightgrey;
  font-size: 20px;
}

.filterText:enabled{
  text-decoration: none;
  color: #ee5e8f;
}

.filterText:disabled{
  text-decoration: none;
  color: lightgrey;
}
